<header class="header">
  <div class="container">
    <div class="logo">
      <img src="../assets/images/logo.png" alt="logo">
    </div>
    <nav class="menu">
      <ul>
        <li class="menu__item">
          <a href="#">Главная</a>
        </li>
        <li class="menu__item">
          <a href="#cars">Автомобили</a>
        </li>
        <li class="menu__item">
          <a href="#price">Бронирование авто</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<section class="main">
  <div class="container">
    <div class="main__info">
      <h1 class="main__title">Аренда премиальных автомобилей</h1>
      <div class="main__text">
        В нашем клубе имеется солидная коллекция спортивных автомобилей — от достаточно распространенных
        серийных машин до настоящего гоночного эксклюзива. Воспользуйтесь уникальной возможностью побывать за
        рулем настоящей легенды и узнать, на что она способна за пределами гоночной трассы!
      </div>
      <div class="main__action">
        <button class="button" id="main__action" (click)="goScroll(cars)">
          Посмотреть автомобили
        </button>
      </div>
    </div>
  </div>
</section>
<section class="car" id="cars" #cars>
  <div class="container">
    <h2 class="sub__title">Наш автопарк</h2>
    <div class="car__items">
      <div class="car__item" *ngFor="let car of carsData">
        <div class="car__item__image">
          <img src="../assets/images/{{car.image}}" alt="Image 1">
        </div>
        <div class="car__item__title">{{car.name}}</div>
        <div class="car__item__info">
          <div class="car__item__point">
            <img src="../assets/images/gear.png" alt="Gear">
            <div>Привод</div>
            <div>{{car.gear}}</div>
          </div>
          <div class="car__item__point">
            <img src="../assets/images/wheel.png" alt="Wheel">
            <div>Двигатель</div>
            <div>{{car.engine}}.</div>
          </div>
          <div class="car__item__point">
            <img src="../assets/images/belt.png" alt="Belt">
            <div>Кол-во мест</div>
            <div>{{car.places}}</div>
          </div>
        </div>
        <div class="car__item__action">
          <button class="button car__button" (click)="goScroll(price)">Забронировать</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="price" id="price" #price>
  <div class="container">
    <h2 class="sub__title">Узнать цену и забронировать</h2>
    <div class="price__text">
      Заполните данные, и мы перезвоним вам для уточнения всех деталей бронирования
    </div>
    <form action="" class="price__form" [formGroup]="priceForm">
      <input type="text" class="price__input" id="name" placeholder="Ваше имя" formControlName="name">
      <input type="text" class="price__input" id="phone" placeholder="Ваш телефон" formControlName="phone">
      <input type="text" class="price__input" id="car" placeholder="Автомобиль, который вас интересует"
             formControlName="car">
      <button class="button" type="button" id="price__action" (click)="onSubmit()" [disabled]="!priceForm.valid">Узнать цену</button>
    </form>
    <img src="../assets/images/rolls.png" alt="Rolls" class="price__image">
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="logo">
      <img src="../assets/images/logo.png" alt="Logo">
    </div>
    <div class="rights">
      Все права защищены
    </div>
  </div>
</footer>
